@model MoviesList.MST_DIRECTOR

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>MST_DIRECTOR</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.ID_Director)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID_Director)
    </div>*@
    @Html.HiddenFor(model => model.ID_Director)
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Director)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Director)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
